.main {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.875rem;
}
.main__card {
  width: 25%;
  margin: 0.5% 2rem 0px;
}
.main__card-img {
  width: 100%;
}
.main__card-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main__card-type {
  font-weight: 700;
  color: #eb0028;
  font-size: 0.625rem;
  margin: 0.5rem 0px 0.8rem 0px;
}
.main__card-topic {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.25rem;
  margin-bottom: 0.625rem;
}
.main__card-description {
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 1.125rem;
  color: #929292;
}
.main__card-user {
  font-size: 0.625rem;
  color: #9b9b9b;
  display: flex;
  margin-bottom: 0.625rem;
}
.main__card-author {
  font-weight: 500;
  color: #000;
  margin-right: 0.3125rem;
}
.main__card-date {
  display: flex;
  align-items: center;
}
.main__card-date:before,
.main__card-date:after {
  content: "";
  background-color: #d7d7d7;
  width: 0.1875rem;
  height: 0.1875rem;
  border-radius: 50%;
  display: block;
  margin-right: 0.3125rem;
}
.main__card-date:after {
  margin-left: 0.3125rem;
}
