doctype html
html(lang="en")
    include html/head
    include html/header
    include html/main
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        title Site
        style
            include css/style.css
    body
